/* This is CSS */

#HomePage{ 
    font-weight: bold;
    font-size: 6vw;
    text-align: auto;
    margin-top: 0;
    text-align: center;
    margin-top: 1vw;
}

body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}

#MainBox {
    width: 98vw; /* Adjust as needed */
    height: 7vw;
    border: 1vw solid black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}


/* Text inside the Home, About Me, and Hobbies links */
#TheHome, #AboutMe, #Hobbies {
    font-size: 2vw;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center; /* Center align text */
    display: block; /* Ensures it's a block element */
    width: 100%;
    height: 100%; /* Make sure text takes up full height */
    margin-top: center;
}

/* HomeBox, AboutMeBox, and HobbiesBox styles */
#TheHomeBox, #AboutMeBox, #HobbiesBox {
    display: inline-flex;
    height: auto;
    width: 15vw;
    background-color: black;
    margin-left: auto;
}

#IntroductionBox {
    width: 98vw; /* Adjust as needed */
    height: auto;
    border: 1vw solid black;
    background-color: white;
    border-top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

#IntroductionContent {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adds space below the content */
}

#Introduction {
    font-size: 4vw;
    margin: 0 10px; /* Adds space on the sides of the text */
    margin-right: 1vw;
}

#Derrick1 {
    width: 17vw;
    height: auto; /* Maintain aspect ratio */
    margin-left: 1vw;
    filter:brightness(1.5);
}

#BottomContent {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the flex container */
    margin-top: auto; /* Pushes the content to the bottom of the IntroductionBox */
}

#HelloBox {
    display: flex;
    align-items: center;
    justify-content: center; /* Centers the text horizontally */
    margin-right: 10px; /* Adds space between text box and image */
}

#HelloBox p {
    font-size: 6vw;
    margin: 0; /* Remove default margin */
    margin-left: 1vw;
}

#Derrick2 {
    width: 55vw;
    height: auto; /* Maintain aspect ratio */
    margin-right: 1vw;
    filter:grayscale(0.4)
}

#AboutMeTable{
    width: 100vw; /* Adjust as needed */
}

td{
    width:auto;
    height: auto;
    border: 1vw solid black; 
    background-color: white;
}

#Description{
    color:black;
    font-size: 2vw;
 }

li{
    font-size: 2vw;
 }

 #Code{
    font-weight: bold;
    color: red;
    font-size: 5vw;
    text-align: center;
 }

 #Derrick6{
    width: 45vw;
    height: auto;
}

#Heading{
    font-weight: bold;
    color: lightpink;
    font-size: 6vw;
    text-align: center;
}

#BigText{
    color:black;
    font-size: 1.5vw;
}

dt{
    color:black;
    font-size: 1vw;
}

dd{
    color:black;
    font-size: 1vw;
}